@import "@/styles/variables";

.wrapper {
  padding: 32px;
}

.header {
  margin-bottom: 50px;
}

.icon {
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.back {
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  background: none;
  color: #76757c;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
