@import "@/styles/variables";
@import "@/styles/mixins";

.artist {
  width: 50%;
  padding: 15px;
}

.meta {
  position: relative;
  display: block;
  border-radius: 20px;
  overflow: hidden;
  background-color: rgba($primary, 0.5);
  border: 2px solid transparent;
  color: $font-color;
  transition: border-color 0.5s;

  &:hover {
    border-color: $secondary;
  }
}

.img {
  position: relative;
  z-index: -1;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.text {
  margin: 5px 0;
  text-align: center;
  font-weight: 700;
}
