// Colors
$primary: #181822;
$secondary: #dd5658;
$font-color: #e7e7e8;
$font-color-secondary: darken($font-color, 30%);

// Screen sizes
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
