@import "@/styles/variables";
@import "@/styles/mixins";

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: $menu-width;
  padding: 0 20px;
  background-color: $background;
  border-right: 1px solid $background-light;
  box-shadow: $background-light -5px 0 20px 5px;
  transform: translateX(-$menu-width);
  transition: transform 0.5s ease;
  overflow: auto;

  @include xl {
    position: static;
    flex-shrink: 0;
    transform: none;
    box-shadow: none;
  }
}

.label {
  position: absolute;
  top: 30px;
  display: block;
  width: 100%;
  cursor: pointer;
  user-select: none;
  z-index: 3;

  &::before, &::after {
    display: block;
    content: "";
    position: absolute;
    left: 20px;
    width: 32px;
    height: 3px;
    border-radius: 3px;
    background-color: $secondary;
    transition: transform 0.3s ease;
  }

  &::before {
    top: -5px;
  }

  &::after {
    top: 5px;
  }

  @include xl {
    display: none;
  }
}

.input {
  position: absolute;
  top: -9999px;
  left: -9999px;

  &:checked ~ .menu {
    transform: translateX(0);
  }

  &:checked + .label {
    &::before {
      top: 5px;
      transform: rotate(135deg);
    }

    &::after {
      transform: rotate(-135deg);
    }
  }
}

.title {
  text-align: right;

  @include xl {
    text-align: left;
  }
}

.link {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: $text-dark;
  border-radius: 10px;
  border-left: 5px solid transparent;
  text-decoration: none;
  transition: all 0.3s;

  &:hover,
  &.active {
    color: $text;
    background-color: $background-light;
    border-left-color: $green;
  }

  & + & {
    margin-top: 20px;
  }
}

.icon {
  width: 30px;
  height: 20px;
  margin-right: 10px;
}
